<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alphaCoaching">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGEe" /> <!-- <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> -->
    <!-- <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".AlphaApplication"
        android:allowBackup="true"
        android:icon="@drawable/alpha_launcher_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/alpha_launcher_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.VideoCategoryListActivity"></activity>
        <activity android:name=".activity.TutosActivity" />
        <activity android:name=".activity.RequestCredentialsActivity" />
        <activity android:name=".activity.NotificationListsActivity" />
        <activity
            android:name=".activity.DisplayVideos"
            android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout" />
        <activity
            android:name=".activity.SingleQuestionDetailActivity"
            android:parentActivityName=".activity.QuizReviewActivity" />
        <activity
            android:name=".activity.QuizReviewActivity"
            android:parentActivityName=".activity.QuizListActivity" />
        <activity
            android:name=".activity.PdfListActivity"
            android:parentActivityName=".activity.MainActivity" />
        <activity
            android:name=".activity.UserProfileActivity"
            android:parentActivityName=".activity.MainActivity" />
        <activity
            android:name=".activity.QuestionReview"
            android:parentActivityName=".activity.QuizReviewActivity" />
        <activity android:name=".activity.ScoreActivity" />
        <activity
            android:name=".activity.QuestionDetailActivity"
            android:parentActivityName=".activity.QuizListActivity" />
        <activity
            android:name=".activity.PdfViewActivity"
            android:parentActivityName=".activity.MainActivity" />
        <activity
            android:name=".activity.SplashScreenActivity"
            android:theme="@style/SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.LoginActivity" />
        <activity
            android:name=".activity.QuizListActivity"
            android:parentActivityName=".activity.MainActivity" />
        <activity
            android:name=".activity.LectureActivity"
            android:parentActivityName=".activity.MainActivity" />
        <activity
            android:name=".activity.WholeClassResultList"
            android:parentActivityName=".activity.QuizReviewActivity" />
        <activity
            android:name=".activity.QuizDetailActivity"
            android:parentActivityName=".activity.QuizListActivity" />
        <activity
            android:name=".activity.VideosActivity"
            android:parentActivityName=".activity.MainActivity" />

        <service
            android:name=".FcmConnection.FCMMessageReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".FcmConnection.FCMTokenReceiver" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>